.laptopVerde {
    background-image: url(../imágenes/laptop-1.PNG);
    width: 300px;
    height: 300px;
}
.laptopRosa{
    background-image: url(../imágenes/laptop-2.PNG);
    width: 300px;
    height: 300px;
}